.container {
  position: absolute;
  background-color: rgb(211, 247, 196);
  border: 1px solid rgb(69, 244, 69);
  transition: all 0.5s ease-in-out;
  max-width: 400px;
  bottom: 1rem;
  left: -100%;
  opacity: 0;
  z-index: 99;
}

.btnStyle {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
}

.active {
  left: 0;
  opacity: 1;
}

.pStyle {
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  font-family: var(--font4);
  font-weight: bolder;
  text-align: justify;
  font-size: larger;
  gap: 1rem;
  color: var(--cl1);
}
